<!--Test for how a page upgrading users could look-->
<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body>
    <% for(const user of users) { %>
    <!--List users-->
    <%- include('../partials/upgrade.ejs', {user: user}); %>
    <br />
    <% } %>
  </body>
</html>
