<header class="bg-slate-800 border border-slate-700 border-t-0 border-x-0 nav-header flex-none sticky top-0 z-50" data-controller="header">
    <div class="mx-auto max-w-full sm:px-4 md:px-6 lg:px-10 xl:px-20"> <!-- navbar first container -->
      <div class="relative flex h-20 justify-between"> <!-- navbar second container (item holder) -->
        <button class="group z-10 h-20 relative flex px-0 items-center transition-all hover:scale-105 active:scale-90"> <!-- logo holder -->
          <svg class="hidden transition-all w-8 sm:block h-8 text-mint group-hover:text-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 96 96" fill="currentColor">
            <path opacity="1.000000" stroke="none" d="M 84 55 C 75 62 65 69 54 76 C 48 79 41 80 41 70 C 41 51 41 41.8 41 26 C 41 16 48 17 54 20 C 65 27 75 34 84 41 C 90 46 90 50 84 55 Z" style="fill-rule: evenodd;"></path>
            <path opacity="1.000000" stroke="none" d="M 35 48 C 35 54 35 56 35 65 C 35 71 27 74 23 76 C 17 79 10 80 10 70 C 10 55 10 41 10 26 C 10 16 17 17 23 20 C 27 22 35 25 35 31 C 35 40 35 42 35 48 Z" style="fill-rule: evenodd;"></path>
          </svg>
          <svg class="hidden transition-all w-32 lg:block h-16 text-mint group-hover:text-white" xmlns="http://www.w3.org/2000/svg" viewBox="156 150 200 200" fill="currentColor">
            <path d="M 72.159 276.88 L 72.159 223.606 L 106.557 223.606 L 106.557 232.654 L 82.923 232.654 L 82.923 248.722 L 102.267 248.722 L 102.267 257.77 L 82.923 257.77 L 82.923 276.88 Z" fill-rule: evenodd; white-space: pre;"></path>
            <path d="M 121.831 277.738 Q 115.747 277.738 112.666 274.657 Q 109.585 271.576 109.585 265.336 Q 109.585 260.968 111.145 258.511 Q 112.705 256.054 115.786 254.923 Q 118.867 253.792 123.313 253.558 L 132.829 252.7 L 132.829 250.36 Q 132.829 247.552 131.425 246.421 Q 130.021 245.29 127.291 245.29 Q 125.107 245.29 122.26 245.446 Q 119.413 245.602 116.644 245.836 Q 113.875 246.07 111.847 246.304 L 111.535 238.972 Q 113.563 238.504 116.41 237.997 Q 119.257 237.49 122.377 237.178 Q 125.497 236.866 128.149 236.866 Q 133.141 236.866 136.495 238.114 Q 139.849 239.362 141.565 242.209 Q 143.281 245.056 143.281 249.892 L 143.281 267.754 Q 143.437 268.846 144.451 269.431 Q 145.465 270.016 146.791 270.25 L 146.557 277.426 Q 144.685 277.504 142.891 277.504 Q 141.097 277.504 139.849 277.27 Q 138.055 277.036 136.768 276.334 Q 135.481 275.632 134.701 274.852 Q 133.453 275.398 131.347 276.1 Q 129.241 276.802 126.784 277.27 Q 124.327 277.738 121.831 277.738 Z M 124.327 270.016 Q 125.809 270.016 127.447 269.704 Q 129.085 269.392 130.528 268.963 Q 131.971 268.534 132.829 268.144 L 132.829 259.174 L 124.873 259.876 Q 122.299 260.11 121.168 261.397 Q 120.037 262.684 120.037 265.024 Q 120.037 267.364 121.09 268.69 Q 122.143 270.016 124.327 270.016 Z" style="fill-rule: evenodd; white-space: pre;"></path>
            <path d="M 166.528 277.738 Q 163.954 277.738 161.029 277.465 Q 158.104 277.192 155.569 276.802 Q 153.034 276.412 151.24 276.022 L 151.552 268.3 Q 153.58 268.534 156.115 268.846 Q 158.65 269.158 161.107 269.353 Q 163.564 269.548 165.124 269.548 Q 167.464 269.548 168.985 269.158 Q 170.506 268.768 171.286 267.871 Q 172.066 266.974 172.066 265.258 Q 172.066 263.932 171.403 263.23 Q 170.74 262.528 168.907 262.021 Q 167.074 261.514 163.564 260.968 Q 159.196 260.344 156.349 259.174 Q 153.502 258.004 152.176 255.703 Q 150.85 253.402 150.85 249.424 Q 150.85 244.588 152.956 241.858 Q 155.062 239.128 158.572 237.997 Q 162.082 236.866 166.216 236.866 Q 168.946 236.866 171.832 237.139 Q 174.718 237.412 177.292 237.802 Q 179.866 238.192 181.582 238.582 L 181.27 246.46 Q 179.32 246.148 176.746 245.875 Q 174.172 245.602 171.637 245.446 Q 169.102 245.29 167.386 245.29 Q 165.592 245.29 164.188 245.641 Q 162.784 245.992 162.043 246.772 Q 161.302 247.552 161.302 249.112 Q 161.302 250.204 161.926 250.906 Q 162.55 251.608 164.305 252.115 Q 166.06 252.622 169.414 253.09 Q 174.25 253.792 177.136 255.04 Q 180.022 256.288 181.309 258.628 Q 182.596 260.968 182.596 264.946 Q 182.596 272.044 178.423 274.891 Q 174.25 277.738 166.528 277.738 Z" style="fill-rule: evenodd; white-space: pre;"></path>
            <path d="M 203.185 277.816 Q 198.895 277.816 196.243 276.568 Q 193.591 275.32 192.46 272.239 Q 191.329 269.158 191.329 263.62 L 191.329 246.382 L 186.727 246.382 L 186.727 237.724 L 191.329 237.724 L 191.329 227.35 L 201.703 227.35 L 201.703 237.724 L 211.687 237.724 L 211.687 246.382 L 201.703 246.382 L 201.703 260.89 Q 201.703 263.932 201.976 265.648 Q 202.249 267.364 203.185 268.066 Q 204.121 268.768 206.071 268.768 Q 206.617 268.768 207.709 268.69 Q 208.801 268.612 209.893 268.534 Q 210.985 268.456 211.687 268.378 L 211.999 276.724 Q 210.127 277.036 207.514 277.426 Q 204.901 277.816 203.185 277.816 Z" style="fill-rule: evenodd; white-space: pre;"></path>
            <path d="M 228.002 276.88 L 228.002 232.732 L 213.65 232.732 L 213.65 223.606 L 252.65 223.606 L 252.65 232.732 L 238.766 232.732 L 238.766 276.88 Z" style="fill-rule: evenodd; white-space: pre;"></path>
            <path d="M 252.254 276.88 L 252.254 237.724 L 262.628 237.724 L 262.628 242.326 Q 263.954 241.312 265.904 240.181 Q 267.854 239.05 270.155 238.075 Q 272.456 237.1 274.562 236.788 L 274.562 246.85 Q 272.534 247.162 270.272 247.903 Q 268.01 248.644 266.021 249.502 Q 264.032 250.36 262.628 251.062 L 262.628 276.88 Z" style="fill-rule: evenodd; white-space: pre;"></path>
            <path d="M 290.159 277.738 Q 284.075 277.738 280.994 274.657 Q 277.913 271.576 277.913 265.336 Q 277.913 260.968 279.473 258.511 Q 281.033 256.054 284.114 254.923 Q 287.195 253.792 291.641 253.558 L 301.157 252.7 L 301.157 250.36 Q 301.157 247.552 299.753 246.421 Q 298.349 245.29 295.619 245.29 Q 293.435 245.29 290.588 245.446 Q 287.741 245.602 284.972 245.836 Q 282.203 246.07 280.175 246.304 L 279.863 238.972 Q 281.891 238.504 284.738 237.997 Q 287.585 237.49 290.705 237.178 Q 293.825 236.866 296.477 236.866 Q 301.469 236.866 304.823 238.114 Q 308.177 239.362 309.893 242.209 Q 311.609 245.056 311.609 249.892 L 311.609 267.754 Q 311.765 268.846 312.779 269.431 Q 313.793 270.016 315.119 270.25 L 314.885 277.426 Q 313.013 277.504 311.219 277.504 Q 309.425 277.504 308.177 277.27 Q 306.383 277.036 305.096 276.334 Q 303.809 275.632 303.029 274.852 Q 301.781 275.398 299.675 276.1 Q 297.569 276.802 295.112 277.27 Q 292.655 277.738 290.159 277.738 Z M 292.655 270.016 Q 294.137 270.016 295.775 269.704 Q 297.413 269.392 298.856 268.963 Q 300.299 268.534 301.157 268.144 L 301.157 259.174 L 293.201 259.876 Q 290.627 260.11 289.496 261.397 Q 288.365 262.684 288.365 265.024 Q 288.365 267.364 289.418 268.69 Q 290.471 270.016 292.655 270.016 Z" style="fill-rule: evenodd; white-space: pre;"></path>
            <path d="M 325.963 276.88 L 316.681 237.724 L 327.835 237.724 L 334.387 268.066 L 336.649 268.066 L 343.357 237.724 L 353.887 237.724 L 344.605 276.88 Z" style="fill-rule: evenodd; white-space: pre;"></path>
            <path d="M 374.556 277.738 Q 368.082 277.738 364.299 275.554 Q 360.516 273.37 358.878 268.924 Q 357.24 264.478 357.24 257.77 Q 357.24 250.516 359.307 245.914 Q 361.374 241.312 365.352 239.089 Q 369.33 236.866 375.18 236.866 Q 383.838 236.866 388.245 241.234 Q 392.652 245.602 392.652 255.04 L 392.184 260.812 L 367.692 260.812 Q 367.77 265.18 369.486 267.364 Q 371.202 269.548 375.414 269.548 Q 377.832 269.548 380.718 269.431 Q 383.604 269.314 386.451 269.158 Q 389.298 269.002 391.326 268.846 L 391.56 276.1 Q 389.61 276.412 386.646 276.802 Q 383.682 277.192 380.523 277.465 Q 377.364 277.738 374.556 277.738 Z M 367.692 254.182 L 382.278 254.182 Q 382.278 248.878 380.601 246.772 Q 378.924 244.666 375.18 244.666 Q 371.514 244.666 369.603 246.85 Q 367.692 249.034 367.692 254.182 Z" style="fill-rule: evenodd; white-space: pre;"></path>
            <path d="M 399.831 276.88 L 399.831 221.734 L 410.205 221.734 L 410.205 276.88 Z" style="fill-rule: evenodd; white-space: pre;"></path>
          </svg>
        </button>
        <div class="relative flex-1 p-2 flex items-center justify-center lg:absolute sm:inset-0 gap-2"> <!-- search main container -->
          <div class="w-full lg:w-1/2 2xl:w-1/3">
            <label for="search" class="sr-only">Search</label>
            <div class="relative">
              <div class="group/main transition-all focus-within:bg-mint focus-within:border-mint focus-within:drop-shadow-xl justify-between drop-shadow-lg hover:drop-shadow-xl border border-white hover:border-mint bg-slate-800 hover:bg-mint items-center w-full flex rounded-full p-1"> <!-- background -->
                <input id="search" name="search" class="block transition-colors group-focus-within/main:placeholder-slate-800 group-focus-within/main:text-slate-800 group-focus-within/main:bg-mint focus:group-focus-within/main:placeholder-mint border-none focus:ring-0 w-full font-bold uppercase rounded-full py-0 pl-4 text-mint group-hover/main:text-slate-800 placeholder-white group-hover/main:placeholder-slate-800 bg-slate-800 group-hover/main:bg-mint leading-tight focus:outline-none text-sm group-hover/main:focus:placeholder-opacity-0 focus:placeholder-opacity-0" type="text" placeholder="From"> <!-- input1 -->
                <svg class="w-10 h-10 rotate-0 group-hover/main:rotate-90 group-focus-within/main:rotate-90 text-white group-focus-within/main:text-slate-800 group-hover/main:text-slate-800 transition-all" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                  <path fill-rule="evenodd" d="M2 11H22V13H2V11Z" clip-rule="evenodd" />
                </svg>
                <input id="search" name="search" class="block transition-colors group-focus-within/main:placeholder-slate-800 group-focus-within/main:text-slate-800 group-focus-within/main:bg-mint focus:group-focus-within/main:placeholder-mint border-none focus:ring-0 w-full font-bold uppercase rounded-full py-0 pl-4 text-mint group-hover/main:text-slate-800 placeholder-white group-hover/main:placeholder-slate-800 bg-slate-800 group-hover/main:bg-mint leading-tight focus:outline-none text-sm group-hover/main:focus:placeholder-opacity-0 focus:placeholder-opacity-0" type="text" placeholder="To"> <!-- input2 -->
                <div class="group/search p-1.5 bg-mint hover:bg-white cursor-pointer mx-1.5 rounded-full transition-all active:scale-110">
                  <svg class="w-5 h-5 text-slate-800 group-hover/search:text-slate-800 transition-all" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd" />
                  </svg>
                </div>
              </div>
            </div>
          </div>
        <button type="button" class="flex hover:scale-105 active:scale-90 transition-all flex-none items-center relative p-3 rounded-full text-white bg-slate-800 hover:bg-mint hover:text-slate-800 hover:drop-shadow-xl text-sm font-bold uppercase">One-Way</button>
        </div>
        <div class="flex items-center">
          <div class="hidden relative sm:inline-block items-center justify-center gap-2"> <!-- user menu container -->
            <button 
              id="menu-dropdown-button" 
              data-header-target="openUserMenu" 
              type="button" 
              class="group hover:scale-105 active:scale-90 transition-all flex items-center relative px-2 border drop-shadow-lg bg-slate-800 hover:bg-mint border-white hover:border-mint rounded-full hover:drop-shadow-xl"
            >
              <div class="pl-1">
                <svg
                  id= "user-burger"
                  viewBox="0 0 32 32"
                  xmlns="http://www.w3.org/2000/svg"
                  aria-hidden="true"
                  role="presentation"
                  focusable="false"
                  class="text-white group-hover:text-slate-800 transition-all"
                  style="display: block; fill: none; height: 16px; width: 16px; stroke: currentcolor; stroke-width: 3; overflow: visible;">
                  <g fill="none" fill-rule="nonzero">
                    <path d="m2 16h28"></path>
                    <path d="m2 24h28"></path>
                    <path d="m2 8h28"></path>
                  </g>
                </svg>
              </div>
              <div class="block flex-grow-0 flex-shrink-0 h-10 w-12 pl-5">
                <svg
                  id="user-profile"
                  viewBox="0 0 32 32"
                  xmlns="http://www.w3.org/2000/svg"
                  aria-hidden="true"
                  role="presentation"
                  focusable="false"
                  class="text-white group-hover:text-slate-800 transition-all"
                  style="display: block; height: 100%; width: 100%; fill: currentcolor;"
                >
                  <path d="m16 .7c-8.437 0-15.3 6.863-15.3 15.3s6.863 15.3 15.3 15.3 15.3-6.863 15.3-15.3-6.863-15.3-15.3-15.3zm0 28c-4.021 0-7.605-1.884-9.933-4.81a12.425 12.425 0 0 1 6.451-4.4 6.507 6.507 0 0 1 -3.018-5.49c0-3.584 2.916-6.5 6.5-6.5s6.5 2.916 6.5 6.5a6.513 6.513 0 0 1 -3.019 5.491 12.42 12.42 0 0 1 6.452 4.4c-2.328 2.925-5.912 4.809-9.933 4.809z"></path>
                </svg>
              </div>
            </button>
            <div 
              class="hidden absolute right-0 z-10 mt-2 w-56 origin-top-right divide-y divide-slate-700 rounded-md bg-slate-800 drop-shadow-lg hover:drop-shadow-xl border border-white hover:border-none"
              id="menu-dropdown-items"
              role="menu" 
              aria-orientation="vertical" 
              aria-labelledby="menu-button" 
              tabindex="-1"
              data-transition-enter="transition ease-out duration-100"
              data-transition-enter-start="transform opacity-0 scale-95"
              data-transition-enter-end="transform opacity-100 scale-100"
              data-transition-leave="transition ease-in duration-75"
              data-transition-leave-start="transform opacity-100 scale-100"
              data-transition-leave-end="transform opacity-0 scale-95"
            >
              <div class="py-1" role="none">
                <a href="#" data-header-target="userAuthLink" class="text-white block px-4 py-2 text-sm transition-all hover:bg-mint hover:drop-shadow-lg hover:text-slate-800 hover:text-lg hover:font-bold" role="menuitem" tabindex="-1" id="menu-item-0">Sign Up</a>
                <a href="#" data-header-target="userAuthLink" class="text-white block px-4 py-2 text-sm transition-all hover:bg-mint hover:drop-shadow-lg hover:text-slate-800 hover:text-lg hover:font-bold" role="menuitem" tabindex="-1" id="menu-item-1">Log In</a>
              </div>
              <div class="py-1" role="none">
                <a href="#" class="text-white block px-4 py-2 text-sm transition-all hover:bg-mint hover:drop-shadow-lg hover:text-slate-800 hover:text-lg hover:font-bold" role="menuitem" tabindex="-1" id="menu-item-2">About Us</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>