<!--List users-->
<form action="/admin/upgrade" method="POST">
  <div>
    <%=user.userName %> | User type:<%=user.role %> | <% if(user.role.toLowerCase()!="expert"){%>
    <button id="upgrade" type="submit" name="submit" value="<%=user.id %>">Upgrade</button>
    <%}%>
  </div>
</form>
