
<form action="/login" method="post">
    <div>
        <label for="userName">User Name:</label>
        <input name="userName" id="userName" type="text" required>
    </div>
    <div>
        <label for="email">Email:</label>
        <input name="email" id="email" type="email" required>
    </div>
    <div>
        <label for="pasword">Password:</label>
        <input name="password" id="password" type="password" required>
    </div>
    <button type="submit">Enter</button>
</form>
<a href="/register">Register</a>