
<form action="/" method="post">
    <div>
        <label for="userName">User Name:</label>
        <input name="userName" id="userName" type="text" required>
    </div>
    <div>
        <label for="pasword">Password:</label>
        <input name="password" id="password" type="password" required>
    </div>
    <button id="login" type="submit" name="submit" value="login">Login</button>
</form>
<a href="/register">Register</a>