<!DOCTYPE html>
<html lang="en">
  <%- include('../modular/head.ejs') %>
  <body>
    <h1>Test.</h1>
    <p>
      Test page.
      <br />
    </p>
    <br />
    <%= text %> <br />
    <div><%- include('../modular/buttonExample.ejs') %></div>
  </body>
</html>
