<div class="flex flex-1 justify-center">
  <div class="flex flex-1 lg:max-w-4xl xl:max-w-6xl py-4">
    <div class="flex flex-col flex-1 justify-center"> <!-- Vertical Slice -->
      <div class="flex flex-1 flex-col">
        <div class="bg-coffee flex flex-col p-6 font-normal text-lg w-full m-2 rounded-md">
          <p class="text-black text-3xl text-bold">
            Recipe Name
          </p>
          <div class="flex px-6 pt-4">
            <button class="group block mx-2 w-full aspect-square cursor-pointer text-latte rounded-xl border border-latte overflow-hidden drop-shadow-lg transition-all hover:drop-shadow-xl hover:scale-105 active:scale-90">
              <img src="https://www.modernhoney.com/wp-content/uploads/2019/08/Classic-Lasagna-14-scaled.jpg" class="rounded-xl w-full aspect-square object-cover pointer-events-none" />
              <span class="sr-only">View details</span>
            </button>
            <button class="group block mx-2 w-full aspect-square cursor-pointer text-latte rounded-xl border border-latte overflow-hidden drop-shadow-lg transition-all hover:drop-shadow-xl hover:scale-105 active:scale-90">
              <img src="https://www.modernhoney.com/wp-content/uploads/2019/08/Classic-Lasagna-14-scaled.jpg" class="rounded-xl w-full aspect-square object-cover pointer-events-none" />
              <span class="sr-only">View details</span>
            </button>
            <button class="group block mx-2 w-full aspect-square cursor-pointer text-latte rounded-xl border border-latte overflow-hidden drop-shadow-lg transition-all hover:drop-shadow-xl hover:scale-105 active:scale-90">
              <img src="https://www.modernhoney.com/wp-content/uploads/2019/08/Classic-Lasagna-14-scaled.jpg" class="rounded-xl w-full aspect-square object-cover pointer-events-none" />
              <span class="sr-only">View details</span>
            </button>
          </div>
          <p class="pt-8 text-2xl">
            Ingredients:
          </p>
          <div class="pt-2 flex">
            <textarea readonly class="block px-4 py-3 w-full h-48 font-bold transition-all break-normal rounded-md placeholder-latte text-latte bg-espresso border border-latte hover:border-pistachio hover:text-pistachio hover:placeholder-pistachio focus:border-pistachio focus:text-pistachio focus:placeholder-pistachio focus:ring-0 outline-none focus:outline-none text-sm">
            </textarea>
          </div>
          <p class="pt-8 text-2xl">
            Instructions:
          </p>
          <div class="pt-2 flex">
            <textarea placeholder="Write Instructions..." class="block px-4 py-3 w-full h-56 font-bold transition-all break-normal rounded-md placeholder-latte text-latte bg-espresso border border-latte hover:border-pistachio hover:text-pistachio hover:placeholder-pistachio focus:border-pistachio focus:text-pistachio focus:placeholder-pistachio focus:ring-0 outline-none focus:outline-none text-sm">
            </textarea>
          </div>
          <p class="pt-8 text-2xl pb-2">
            Allergies:
          </p>
          <input readonly placeholder="None" class="block px-4 py-3 w-full h-16 font-bold transition-all break-normal rounded-md placeholder-latte text-latte bg-espresso border border-latte hover:border-pistachio hover:text-pistachio hover:placeholder-pistachio focus:border-pistachio focus:text-pistachio focus:placeholder-pistachio focus:ring-0 outline-none focus:outline-none text-sm">
          </input>
          <p class="pt-8 text-2xl">
            Nutritions (g):
          </p>
          <div class="grid grid-cols-10 pt-4 gap-4 items-center">
            <p>Energy:</p>
            <input readonly type="text" placeholder="0" class="px-4 py-3 w-20 font-bold transition-all rounded-md text-latte placeholder-latte bg-espresso border border-latte hover:border-pistachio hover:text-pistachio hover:placeholder-pistachio focus:border-pistachio focus:text-pistachio focus:placeholder-pistachio focus:ring-0 outline-none focus:outline-none text-sm">
            <p>Fatty acids:</p>
            <input readonly type="text" placeholder="0" class="px-4 py-3 w-20 font-bold transition-all rounded-md text-latte placeholder-latte bg-espresso border border-latte hover:border-pistachio hover:text-pistachio hover:placeholder-pistachio focus:border-pistachio focus:text-pistachio focus:placeholder-pistachio focus:ring-0 outline-none focus:outline-none text-sm">
            <p>Sodium:</p>
            <input readonly type="text" placeholder="0" class="px-4 py-3 w-20 font-bold transition-all rounded-md text-latte placeholder-latte bg-espresso border border-latte hover:border-pistachio hover:text-pistachio hover:placeholder-pistachio focus:border-pistachio focus:text-pistachio focus:placeholder-pistachio focus:ring-0 outline-none focus:outline-none text-sm">
            <p>Sugar:</p>
            <input readonly type="text" placeholder="0" class="px-4 py-3 w-20 font-bold transition-all rounded-md text-latte placeholder-latte bg-espresso border border-latte hover:border-pistachio hover:text-pistachio hover:placeholder-pistachio focus:border-pistachio focus:text-pistachio focus:placeholder-pistachio focus:ring-0 outline-none focus:outline-none text-sm">
            <p>Protein:</p>
            <input readonly type="text" placeholder="0" class="px-4 py-3 w-20 font-bold transition-all rounded-md text-latte placeholder-latte bg-espresso border border-latte hover:border-pistachio hover:text-pistachio hover:placeholder-pistachio focus:border-pistachio focus:text-pistachio focus:placeholder-pistachio focus:ring-0 outline-none focus:outline-none text-sm">
          </div>
        </div>
        <div class="flex justify-end px-2 pt-2 pb-12">
          <button class="bg-espresso mx-2 px-4 rounded-full font-bold text-latte uppercase py-2 transition-all hover:drop-shadow-xl hover:bg-pistachio hover:text-espresso hover:scale-105 active:scale-90">Close Recipe
          </button>
        </div>
      </div>
    </div>
  </div>
</div>