<form action="/register" method="post">
    <div>
        <label for="userName">User Name:</label>
        <input name="userName" id="userName" type="text" required>
    </div>
    <div>
        <label for="email">Email:</label>
        <input name="email" id="email" type="email" required>
    </div>
    <div>
        <label for="pasword">Password:</label>
        <input name="password" id="password" type="password" required>
    </div>
    <div>
        <label>Password repeat:</label>
        <input name="passwordRep" id="passwordRep" type="password" required>
    </div>
    <button type="submit">Save</button>
</form>
<a href="/">Login</a>