<!--Test for how a page displaying multiple recipes could look-->
<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body>
    <% for(const recipe of recipes) { %>
    <!--Attach user avatars & names & badges-->
    <%- include('../partials/user.ejs', {recipe: recipe}); %>
    <br />
    <% } %>
  </body>
</html>
